
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

$green-custom: #17847f;

$color-nav: #1f5b70;

$color-2b5359: #2b5359;

$color-427b84-hover: #427b84;

$color-2b5359bd: #2b5359bd;
